<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>PROOF</h1>
    <p>
      This is submitted proof
    </p>
    <p>
      To view and accept proof follow this link: <%= link_to "The Quest", @quest %>.
    </p>
  </body>
</html>
