<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Squire, <%= @duke.firstname %></h1>
    <p>
      This is your proposal.
    </p>
    <p>
      To view and accept the proposal follow this link: <%= link_to "The Quest", @quest %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
