<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>WARNING</h1>
    <p>
      This is a warning
    </p>
    <p>
      WANRING link: <%= link_to "The Quest", @quest %>.
    </p>
  </body>
</html>
